body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

/* Header start */

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 450px;
}

.header ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

li {
    list-style: none;
}

/*END*/

/* Main content start */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* Section-One */

.section-one {
    background-color: #1F2937;
    color: white;
}

.header-one {
    width: 400px;
    margin: 30px;
}

.section-one .one-pic{
    width: 500px;
    height: 200px;
    padding: 50px 0px;
}

.section-one h1 {
    font-size: 48px;
    margin: 0px;
}

.section-one p {
    margin: 0px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.section-one button {
    background-color: #3882F6;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}

/* Section-Two */

.section-two {
    flex-direction: column;
}

.header-two {
    align-self: center;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    max-width: 140px;
}

.info p {
    text-align: center;
}

.sub-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

/* Section-Three */

.section-three {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
    flex-direction: column;
}

.content-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.content-three p {
    margin-bottom: 0;
}

.tagline {
    font-size: 24px;
    margin: 0 0 24px 0;
    align-self: flex-end;
    font-weight: bold;
}

/* Section-Four */

.content-four {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 20px 100px;
    gap: 200px;
    box-sizing: border-box;
}

.content-four h4 {
    font-size: 24px;
    margin-bottom: 0px;
}

.content-four p {
    margin-top: 0px;
}


.content-four button {
    background-color: #3882F6;
    border-color: white;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    width: 125px;
    align-self: center;
}

/* Footer Start */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.section-one,
.section-two,
.section-three,
.section-four {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}